<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Softverses - IT Solutions </title>
    <link rel="shortcut icon" href="{% static 'images/tittle-logo.png' %}" type="image/x-icon">


    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon-set.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootsnav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">




    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->


    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">

            <div class="container">
                <div class="nav-box">

                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav inc-border">
                        <ul>
                            <li class="contact">
                                <i class="fas fa-phone"></i>
                                <p>Call us today! <strong>+91 8075955676</strong></p>
                            </li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{% url 'homepage' %}">
                            <img src="{% static 'images/white_logo.png' %}" class="logo logo-display" alt="softverses-white-logo">
                            <img src="{% static 'images/Main_logo.png' %}" class="logo logo-scrolled" alt="softverses-main-logo">
                        </a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                            <li>
                                <a class="active" href="{% url 'homepage' %}">Home</a>

                            </li>
                            <li>
                                <a href="{% url 'about_us' %}">About Us</a>

                            </li>
                            <li>
                                <a href="{% url 'service' %}">Services</a>

                            </li>
                            <li>
                                <a href="{% url 'technology' %}">Technology</a>

                            </li>
                            <li>
                                <a href="{% url 'blog' %}">Blog</a>

                            </li>
                            <li>
                                <a href="{% url 'contact' %}">Contact</a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area top-pad-60-responsive border-shadow text-center content-less text-large">
        <!-- Start Video Background -->
        <div class="video-background">
            <video autoplay muted loop poster="">
                <source src="{% static 'videos/River_Flowing_Aerial_shot.mp4' %}" type="video/mp4">
                <!-- You can add multiple source elements for different video formats -->
            </video>
            <div class="video-content">
                <!-- Your content goes here -->
                <h1 class="fade-in">
                    <span class="word">Expert</span>
                    <span class="word">Web</span>
                    <span class="word">Development</span>
                    <span class="word">Services</span>
                    <span class="word">Await</span>
                  </h1>                
                  <a data-animation="animated fadeInUp" class="btn circle btn-light border btn-md"
                    style="margin-top: 20px;" href="{% url 'contact' %}">Get In Touch</a>
            </div>
        </div>
        <!-- End Video Background -->

    </div>
    <!-- End Banner -->
    <!-- Start Features Area 
    ============================================= -->
    <div class="feature-area half-bg overflow-hidden default-padding-top">
        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-6">
                        <h5>Providing Best Service</h5>
                        <h2>
                            Transform Your Online Presence With Stunning Web and Marketing Solutions
                        </h2>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            Welcome to the forefront of digital excellence, your one-stop destination for expert web
                            design and
                            website development services. Our dedicated team specializes in crafting captivating web
                            experiences that engage and convert visitors. Whether you're seeking top-tier web
                            development, tailored digital marketing strategies, or exceptional branding services, we've
                            got you covered. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="features-box text-light">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img src="{% static 'images/A-women-doing-Web-developing.png' %}" alt="A-women-doing-Web-developing-image">
                            <div class="overlay">
                                <div class="info">
                                    <h4>Web Development</h4>
                                    <a href="{% url 'web_services' %}"><i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img src="{% static 'images/Digital-marketing-planing.png' %}" alt="Digital-marketing-planing-image">
                            <div class="overlay">
                                <div class="info">
                                    <h4>Digital Marketing</h4>
                                    <a href="{% url 'digiatl_marketing' %}"><i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img src="{% static 'images/Branding-image.png' %}" alt="Branding-image">
                            <div class="overlay">
                                <div class="info">
                                    <h4>Branding</h4>
                                    <a href="{% url 'branding' %}"><i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Features Area -->

    <!-- Start Clients 
    ============================================= -->
    <div class="clients-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="clients-carousel owl-carousel owl-theme">
                        <a href="{% url 'technology' %}"><img src="{% static 'images/HTML-logo-grayscale.png' %}"
                                alt="HTML-logo-grayscale-image"></a>
                        <a href="{% url 'technology' %}"><img src="{% static 'images/css-logo-greyscale.png' %}"
                                alt="css-logo-greyscale-image"></a>
                        <a href="{% url 'technology' %}"><img src="{% static 'images/Javascript-logo-greyscale.png' %}"
                                alt="Javascript-logo-greyscale-image"></a>
                        <a href="{% url 'technology' %}"><img src="{% static 'images/Django-logo-grayscale.png' %}"
                                alt="Django-logo-grayscale-image"></a>
                        <a href="{% url 'technology' %}"><img src="{% static 'images/Python-logo-grayscale.png' %}"
                                alt="Python-logo-grayscale-image"></a>
                        <a href="{% url 'technology' %}"><img src="{% static 'images/aws-greyscale-logo.png' %}"
                                alt="aws-greyscale-logo-image"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Area -->

    <!-- Start Who We Area 
    ============================================= -->
    <div class="who-we-area-area bg-dark text-light">
        <div class="container-fluid">
            <div class="who-we-area-box">
                <div class="row">
                    <div class="col-lg-6 thumb bg-cover"
                        style="background-image: url('static/images/Mission Vission.png');"></div>
                    <div class="col-lg-6 info">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 item">
                                <h4>Our Mission</h4>
                                <h2 class="text-blur">Mission</h2>
                                <p>
                                    At softverses, our mission is to empower businesses with the digital tools
                                    they need to succeed in the modern world. We are dedicated to delivering exceptional
                                    web development, digital marketing, and branding services that transform online
                                    potential into tangible results. Our commitment is to be the driving force behind
                                    our clients' growth, ensuring their digital presence stands out in an ever-evolving
                                    landscape
                                </p>
                                <a class="btn circle btn-light effect btn-sm" href="{% url 'mission_vision' %}">Know
                                    More <i class="fas fa-arrow-alt-circle-right"></i></a>
                            </div>
                            <div class="col-lg-6 col-md-6 item">
                                <h4>Our Vision</h4>
                                <h2 class="text-blur">Vision</h2>
                                <p>
                                    At softverses, our vision is to revolutionize the digital realm by setting
                                    new standards of innovation and excellence. We aim to become a globally recognized
                                    leader in web development, digital marketing, and branding, constantly pushing the
                                    boundaries of creativity and technology. Our vision is to empower businesses
                                    worldwide, enabling them to thrive in the digital age through our cutting-edge
                                    solutions and unwavering commitment to their success
                                </p>
                                <a class="btn circle btn-light effect btn-sm" href="{% url 'mission_vision' %}">Know
                                    More <i class="fas fa-arrow-alt-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Who We Area Area -->

    <!-- Start Services 
    ============================================= -->
    <div class="service-area default-padding bottom-less bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Services</h4>
                        <h2>What we do</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="service-items text-center">
                <div class="row">
                    <!-- Single item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <h4>Web Development</h4>
                                <img src="{% static 'images/Web-development-icon.png' %}" alt="Web-development-icon-image">
                                <p>
                                    We offer comprehensive web development services to help you create a dynamic online
                                    presence that meets your business needs and engages your audience effectively.
                                </p>
                                <a class="btn-standard" href="{% url 'web_services' %}">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <h4>Digital Marketing</h4>
                                <img src="{% static 'images/Digital-Marketing-Icon.png' %}" alt="Digital-Marketing-Icon-image">
                                <p>
                                    Our digital marketing solutions empower your brand to thrive in the digital
                                    landscape, driving growth and connecting with your target audience effectively.
                                </p>
                                <a class="btn-standard" href="{% url 'digiatl_marketing' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <h4>Branding</h4>
                                <img src="{% static 'images/Branding-Icon.png' %}" alt="Branding-Icon-image">
                                <p>
                                    Effective branding elevates your business, strengthening your market presence and
                                    forging lasting connections with your audience effectively. </p>
                                <a class="btn-standard" href="{% url 'branding' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <h4>SEO</h4>
                                <img src="{% static 'images\SEO_Icon.png' %}" alt="SEO_Icon-image">
                                <p>
                                    SEO excellence boosts your online visibility, enhancing market presence and
                                    connecting you with your target audience effectively.
                                </p>
                                <a class="btn-standard" href="{% url 'seo' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <h4>SMM</h4>
                                <img src="{% static 'images/Social_Media_Management.png' %}" alt="Social_Media_Management-image">
                                <p>
                                    Our social media management service enhances your online presence, connecting with
                                    your audience and elevating market influence.
                                </p>
                                <a class="btn-standard" href="{% url 'social_media_management' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <h4>Web Hosting</h4>
                                <img src="{% static 'images/Web-hosting-icon.png' %}" alt="Web-hosting-icon-image">
                                <p>
                                    Our web hosting solutions ensure reliable online presence, supporting your website's
                                    performance and availability.
                                </p>
                                <a class="btn-standard" href="{% url 'web_hosting' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Services Area -->

    <!-- Start Our design section 
    ============================================= -->

    <div class="container-fluid">
        <div class="site-heading text-center">
            <h4>Our Web Designs</h4>
            <h2>Various Types Of Designs</h2>

        </div>
        <div class="row">
            <div class="col-lg-4 pt-5">
                <img src="{% static 'images/Food-website-responsive-mockup.png' %}" alt="Food-website-responsive-mockup-image" class="img-fluid">
            </div>
            <div class="col-lg-4 pt-5">
                <img src="{% static 'images/E-commercial_Responsive_Mockup.png' %}" alt="E-commercial_Responsive_Mockup" class="img-fluid">
            </div>
            <div class="col-lg-4 pt-5">
                <img src="{% static 'images/Phone-Responsive-Mockup.png' %}" alt="Phone-Responsive-Mockup-of contact-area" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- End Our design section -->

    <!-- Start Work Process 
    ============================================= -->
    <div class="work-process-area overflow-hidden default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Process</h4>
                        <h2>How It Works Here</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="work-pro-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <img src="{% static 'images/Choose-service-icon.png' %}" alt="Choose-service-icon-image">
                                    <span>01</span>
                                </div>
                                <h5>Choose a Service</h5>
                                <p>
                                    Select the perfect service for your needs with ease.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <img src="{% static 'images/meeting-icon.png' %}" alt="meeting-icon-image">
                                    <span>02</span>
                                </div>
                                <h5>Request a Meeting</h5>
                                <p>
                                    Initiate a conversation by scheduling a meeting with us today.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <img src="{% static 'images/planing-icon.png' %}" alt="planing-icon-image">
                                    <span>03</span>
                                </div>
                                <h5>Receive Custom Plan</h5>
                                <p>
                                    Once you've shared your goals, we'll create a tailored plan just for you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <img src="{% static 'images/Project-rocket-icon.png' %}" alt="rocket-icon-image">
                                    <span>04</span>
                                </div>
                                <h5>Let’s Make it Happen</h5>
                                <p>
                                    Let's turn your vision into reality together, it's time to make it happen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Work Process Area -->
    <!-- Start Faq 
    ============================================= -->
    <div class="faq-area default-padding bg-gray">
        <div class="container">
            <div class="testimonial-items">
                <div class="row">

                    <div class="col-lg-5 info">
                        <h5>faq</h5>
                        <h2>Most common questions about our services</h2>
                    </div>

                    <div class="col-lg-7">
                        <div class="faq-content">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            <strong>?</strong> What services do you offer at softverses?
                                        </h4>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                We offer a comprehensive suite of services, including web development,
                                                digital marketing, and branding, designed to enhance your online
                                                presence and drive business growth.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            <strong>?</strong>How do I know which service is right for my business?
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Our experienced team will work closely with you to assess your needs and
                                                objectives, ensuring we recommend the most suitable service to achieve
                                                your goals.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour">
                                            <strong>?</strong> What sets softverses apart from other digital agencies?
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                We stand out through our commitment to excellence, innovative solutions,
                                                and a proven track record of delivering results. Our holistic approach
                                                ensures your brand's success in the digital landscape.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Faq Area -->

    <!-- Start Blog 
    ============================================= -->
    <div class="blog-area content-less default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Popular News</h4>
                        <h2>Latest From our blog</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="blog-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{% static 'images/Web-development-blog-image.png' %}" alt="Web-development-blog-image">
                                </a>
                            </div>
                            <div class="info">
                                <div class="cats">
                                    <a href="{% url 'web_services' %}">Web-development</a>
                                </div>
                                <div class="meta">
                                    <ul>
                                        <li><i class="fas fa-calendar-alt"></i> 1 Sept, 2023</li>
                                        <li style="color: #6000ff;"><i class="fas fa-user"></i>  Amal Davis</li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="{% url 'blog' %}">Website In Modern Digital World</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{% static 'images/Digital-marketing-blog-image.png' %}" alt="digiatl_marketing-image">
                                </a>
                            </div>
                            <div class="info">
                                <div class="cats">
                                    <a href="{% url 'digiatl_marketing' %}">Digital Marketing</a>
                                </div>
                                <div class="meta">
                                    <ul>
                                        <li><i class="fas fa-calendar-alt"></i> 1 Sept, 2023</li>
                                        <li style="color: #6000ff;"><i class="fas fa-user"></i>  Akhil Davis</li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="{% url 'blog' %}">Marketing Statergy In Digital World</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="#">
                                    <img src="{% static 'images/Branding-blog-image.png' %}" alt="Branding-blog-image">
                                </a>
                            </div>
                            <div class="info">
                                <div class="cats">
                                    <a href="{% url 'branding' %}">Branding</a>
                                </div>
                                <div class="meta">
                                    <ul>
                                        <li><i class="fas fa-calendar-alt"></i> 1 Sept, 2023</li>
                                        <li style="color: #6000ff;"><i class="fas fa-user"></i>  Amal Davis</li>
                                    </ul>
                                </div>
                                <h4>
                                    <a href="{% url 'blog' %}">Branding Increase Value Of Your Business</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Area -->

    <!-- Start Contact 
    ============================================= -->
    <div class="contact-area overflow-hidden default-padding bg-gray">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 contact-form-box">
                    <div class="content">
                        <div class="heading">
                            <h2>Reach Us Here</h2>
                            <p>Reach us Out To Get A Quote</p>
                        </div>
                        <form action="{% url 'contact_home_details' %}" method="post" class="contact-form"
                            enctype="multipart/form-data" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" id="name" name="name" placeholder="Name"
                                            type="text">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" placeholder="Email*"
                                            type="email">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" id="phone" name="phone" placeholder="Phone"
                                            type="tel">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="i-group comments">
                                        <textarea class="form-control" id="comments" name="comments"
                                            placeholder="Please describe what you need."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-lg-12">
                                    <button type="submit">
                                        Get a free consultation
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Alert Message -->


                    <div id="message" class="alert-msg" style="color: #6000ff;"></div>

                </div>



                <div class="col-lg-6 info">
                    <div class="contact-tabs">
                        <ul id="tabs" class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="" data-target="#tab1" data-toggle="tab" class="active nav-link">
                                    Address
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" data-target="#tab2" data-toggle="tab" class="nav-link">
                                    Google Maps
                                </a>
                            </li>
                        </ul>
                        <div id="tabsContent" class="tab-content">
                            <div id="tab1" class="tab-pane fade active show">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="info">
                                            <p>
                                                Our Location
                                                <span>Thrissur,Kerala</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-envelope-open"></i>
                                        </div>
                                        <div class="info">
                                            <p>
                                                Send Us Mail
                                                <span>info@softverses.com</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="info">
                                            <p>
                                                Call Us
                                                <span>+91 8075955676</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14767.262289338461!2d70.79414485000001!3d22.284975!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1424308883981"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Contact Area -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light">
        <!-- Fixed Shape -->
        <div class="fixed-shape">
            <img src="{% static 'images/map.svg' %}" alt="map-image">
        </div>
        <!-- Fixed Shape -->
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="f-item about">
                            <img src="{% static 'images/white_logo.png' %}" alt="softverses-white-logo">
                            <p>
                                Discover a full spectrum of services at softverses, where we excel in web
                                development, digital marketing, and branding to elevate your digital presence
                            </p>
                            <form id="subscribe-form" action="{% url 'email_subscribe_home' %}" method="post"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="email" placeholder="Your Email" class="form-control" name="email">
                                <button type="submit"> <i class="fa fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Company</h4>
                            <ul>
                                <li>
                                    <a href="{% url 'homepage' %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'about_us' %}">About Us</a>
                                </li>
                                <li>
                                    <a href="{% url 'service' %}">Services</a>
                                </li>
                                <li>
                                    <a href="{% url 'technology' %}">Technology</a>
                                </li>
                                <li>
                                    <a href="{% url 'blog' %}">Blog</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Services</h4>
                            <ul>
                                <li>
                                    <a href="{% url 'web_services' %}">Web Development</a>
                                </li>
                                <li>
                                    <a href="{% url 'digiatl_marketing' %}">Digital Marketing</a>
                                </li>
                                <li>
                                    <a href="{% url 'branding' %}">Branding</a>
                                </li>
                                <li>
                                    <a href="{% url 'seo' %}">SEO</a>
                                </li>
                                <li>
                                    <a href="{% url 'social_media_management' %}">SocialMedia Management</a>
                                </li>
                                <li>
                                    <a href="{% url 'web_hosting' %}">Web Hosting</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 item">
                        <div class="f-item">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        <strong>Address:</strong>
                                        5919 Trussville Crossings Pkwy, Birmingham AL 35235
                                    </li>
                                    <li>
                                        <strong>Email:</strong>
                                        <a href="mailto:info@softverses.com">info@softverses.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="download">
                                <h5>Payment Accepted</h5>
                                <p><img src="{% static 'images/Payments_accepted_Image_Visa_UPI_Mastercard_Paypal.png' %}" alt="Payments_accepted_Image_Visa_UPI_Mastercard_Paypal"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright &copy; 2023. Designed by <a href="{% url 'homepage' %}">Softverses</a></p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li>
                                <a href="{% url 'terms_and_condition' %}">Terms & conditions</a>
                            </li>

                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->






    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/equal-height.min.js' %}"></script>
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/progress-bar.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/count-to.js' %}"></script>
    <script src="{% static 'js/YTPlayer.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/bootsnav.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>

        $(document).ready(function () {
            $("form.contact-form").on("submit", function () {
                var formData = new FormData($(this)[0]);

                $.ajax({
                    type: "POST",
                    url: $(this).attr("action"),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        // Display the success message in a browser-native alert
                        alert(data.success_message);

                        // Optionally, you can reset the form
                        $("form.contact-form")[0].reset();
                    },
                    error: function (xhr, status, error) {
                        // Handle errors here
                        console.error(xhr.responseText);
                    },
                });

                return false; // Prevent the default form submission
            });
        });


        $(document).ready(function () {
            $("#subscribe-form").on("submit", function (e) {
                e.preventDefault(); // Prevent the default form submission behavior

                var formData = new FormData($(this)[0]);

                $.ajax({
                    type: "POST",
                    url: $(this).attr("action"),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        // Display the success message in an alert pop-up
                        alert(data.success_message);

                        // Optionally, you can clear the input field
                        $("#subscribe-form input[name='email']").val('');
                    },
                    error: function (xhr, status, error) {
                        // Handle errors here
                        console.error(xhr.responseText);
                    },
                });
            });
        });

    </script>

</body>

</html>